@import './base.css';

:root {
    --sidebar-width: 260px;
    --header-height: 64px;
    --sidebar-bg: var(--vt-c-black-soft);
    --sidebar-text: var(--vt-c-white);
}

#app {
    min-height: 100vh;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (hover: hover) {
    a:hover {
        opacity: 0.9;
    }
}
